@font-face{ 
	font-family: 'MyWebFont';
	src: url('if.ttf') format('truetype');
}

body {
    margin: 0;
}

#home { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
}

#homeVideo {
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    object-fit: cover;
}

.select-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    margin-left: 20px;
    width: 25vw;
    height: 30vh;
    color: rgb(185, 8, 8);
    text-align: center;
    font-size: 20px;
    font-family: 'MyWebFont', Arial, sans-serif;
    letter-spacing: 10px;
    box-shadow: 5px 2.5px 10px rgb(196, 189, 189);
    transition: all .07s ease;
    margin-bottom: 5vh;
}

.select-box:hover {
    transform: scale(1.2);
}

.home-select-img {
    width: 20vw;
    height: 20vh;
    margin-bottom: 10px;
}

.backHome {
    margin: 5%;
    padding: 8px;
    position: absolute;
    border-radius: 5px;
    color: #131313;
    font-size: 15px;
    font-weight: 600;
    background: linear-gradient(45deg, rgb(185, 8, 8) 0%, #e26565 100%);
    border: none;
    -webkit-transition: all .2s ease-in;
}

.backHome:hover {
    background: linear-gradient(45deg, #e26565 0%, rgb(185, 8, 8) 100%);
   transform: scale(1.1);
}