
#nav {
    width: 100vw;
    height: 10vh;
    background: rgb(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
}

#logoBox {
    display: flex;
}

#logo {
    width: 7vw;
    height: 10vh;
}

#logoWord {
    font-family: 'MyWebFont', Arial, sans-serif;
    font-size: 36px;
    letter-spacing: 22px;
}