#simonGame {
    display: none;
}

#simonBox {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#musicPlayBar {
    display: flex;
    margin-bottom: 10vh;
}

.blocks {
    width: 10vw;
    height: 15vh;
    border-radius: 50%;
    text-align: center;
    border: 1px solid black;
    transition: all .5s ease;
}

.playSound {
    opacity: 1;
}

.end {
    /* background: rgb(185, 8, 8, 0.5); */
}

#textArea {
    transition: all .3s ease-in;
    color: transparent;
}

#replay {
     visibility: hidden;
}

